{% extends "layouts/master.twig" %}

{% block title %}All Vessels{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Company Managed</th>
                    <th>Vessels Manged</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.users_f_name }}</td>
                        <td>{{ user.users_l_name }}</td>
                        <td>{{ user.users_email }}</td>
                        <td>{{ user.companies_name }}</td>
                        <td><a class="btn btn-block btn-xs btn-primary btn-flat" href="{{ 'vessels/users/' ~ user.id_users }}">View</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->


{% endblock %}
