{% extends "layouts/master.twig" %}

{% block title %}All Vessels{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Table</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>IMO</th>
                    <th>Type</th>
                    <th>Company</th>
                    <th>Manager</th>
                </tr>
                {% for vessel in vessels %}
                    <tr>
                        <td>{{ vessel.vessels_name }}</td>
                        <td>{{ vessel.vessels_imo }}</td>
                        <td>{{ vessel.types_name }}</td>
                        <td>{{ vessel.companies_name }}</td>
                        <td>{{ vessel.users_email }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div><!-- /.box-body -->

        <div class="box-footer clearfix">
            {{ paginate|raw }}
        </div>
    </div><!-- /.box -->


{% endblock %}
