<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Dnmrn</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {{ html.stylesheet("vendor/AdminLTE/bootstrap/css/bootstrap.min.css") }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        {{ html.stylesheet("vendor/AdminLTE/dist/css/AdminLTE.min.css") }}
        {{ html.stylesheet("vendor/AdminLTE/dist/css/skins/_all-skins.min.css") }}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock head %}
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    {% include '_partials/header.twig' %}

    {% include '_partials/sidebar.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ block('title') }}

                <small>it all starts here</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            {% block content %}{% endblock %}

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    {% include '_partials/footer.twig' %}

</div><!-- ./wrapper -->

{{ html.script('vendor/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js') }}
{{ html.script('vendor/AdminLTE/bootstrap/js/bootstrap.min.js') }}
{{ html.script('vendor/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js') }}
{{ html.script('vendor/AdminLTE/plugins/fastclick/fastclick.min.js') }}
{{ html.script('vendor/AdminLTE/dist/js/app.min.js') }}
</body>
</html>